<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="koala`s blog">
    <meta name="author" content="koala">

	<title>考拉哥的博客 | 代码如诗，人生如歌。</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/jumbotron-narrow.css" rel="stylesheet">
  </head>

  <body>

    <div class="container-narrow">
    
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li><a href="index.html">首页</a></li>
          <li  class="active"><a href="#">代码</a></li>
          <li><a href="share.html">分享</a></li>
          <li><a href="about.html">关于</a></li>
        </ul>
        <h3 class="text-normal">考拉哥的博客</h3>
      </div>

      <div class="row marketing">
        <div class="col-lg-9">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>

        <div class="col-lg-3">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
      </div>

      <div class="footer"> 
      	 <p class="pull-right"><a href="#">Back to top</a></p>
         
         <div class="container">
            <p class="text-muted credit">Copyright&nbsp;&copy;2013&nbsp;&nbsp;&nbsp;&nbsp;Power By <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a> .</p>
      	 </div>
      </div><!-- /foot -->

    </div> <!-- /container -->

  </body>
</html>
